html, body {
    margin:0px;
    height:100%;
}

body {
    background-color: black;
}

.content{
    padding-top: 20px;
}

/********** HERO *********/

.hero-title {
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    background-color: black;
    margin: 0;
    padding: 6rem 3rem 7rem 8rem;
    gap: 15%;
    
    overflow: hidden;
}

.hero-image {
    display: flex;
    background-color: grey;
    width: 300px;
    height: 300px;
}

.hero-text {
    padding-top: 2rem;
    color: blue;
}

@media screen and (max-width: 800px) {
    .hero-section {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 6rem 0 2rem 0;
        height: 70vh;
    }

    .hero-text {
        padding-top: 1rem;
    }
}

/********** NAVBAR *********/

#navbar{
    overflow: hidden;
    background-color: rgb(107, 106, 106);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#navbar > a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 5vh;
}
#navbar > a:hover{
    background-color: aqua;
}
#home{
    float: left;
    margin-left: 25px;
}
#home-icon{
    height: 100%;
}
#resume{
    float: right;
}
#projects{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

/********** FEATURED PROJECTS *********/

.project-heading {
    margin: 1rem 3rem;
    font-size: 3rem;
    color: white;
}

.featured-section {
    margin: 0 3rem;
}

.featuredprojects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    list-style: none;
    margin-top: 2rem;
    padding: 0;
}

.featuredprojects__item {
    border-style: solid;
    background-color: blue;
    padding-top: 15rem;
    border-radius: 35px;
    overflow: hidden;

    transition: transform 200ms ease;
}

.featuredprojects__item:hover {
    transform: scale(1.02);
}

.project-content {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    background: linear-gradient(
        hsl(0, 0%, 0%, 0),
        hsl(0, 0%, 0%, 0.8) 20%,
        hsl(0 0% 0% / 1)
    );

    color: white;
    transform: translateY(65%);
    transition: transform 400ms ease;
}

.project-content >  *:not(.project-titles){
    opacity: 0;
    transition: opacity 600ms linear;
}

.featuredprojects__item:hover .project-content {
    transform: translateY(0);
}

.featuredprojects__item:hover .project-content > * {
    opacity: 1;
}

.project-titles {
    color: white;
}

.project-titles h1,
.project-titles h2 {
    padding: 0;
    margin: 0;
}

.card1 {
    background: url(./assets/images/project1.png);
    background-size: cover;
}

/*.card2 {
    background: url(./assets/images/project2.png);
    background-size: cover;
}

.card3 {
    background: url(./assets/images/project3.png);
    background-size: cover;
}*/

@media screen and (max-width: 1027px) { /* row1: 2 items, row2: 1 item */
    .featuredprojects__item:last-child {
      grid-column: 1 / -1; /* Span across all columns */
    }

    .project-content-last {
        transform: translateY(60%);
        transition: transform 400ms ease;
    }

    .featuredprojects__item {
        padding-top: 10rem;
    }
}

.allprojects-btn {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-bottom: 1rem;
    margin: 0 3rem;
}