html, body {
    margin:0px;
    height:100%;
}

body {
    background-color: black;
}

.content{
    padding-top: 20px;
}

/********** HERO *********/

.hero-title {
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    background-color: black;
    margin: 0;
    padding: 6rem 3rem 7rem 8rem;
    gap: 15%;
    
    overflow: hidden;
}

.hero-image {
    display: flex;
    background-color: grey;
    width: 300px;
    height: 300px;
}

.hero-text {
    padding-top: 2rem;
    color: blue;
}

@media screen and (max-width: 800px) {
    .hero-section {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 6rem 0 2rem 0;
        height: 70vh;
    }

    .hero-text {
        padding-top: 1rem;
    }
}

/********** NAVBAR *********/

#navbar{
    overflow: hidden;
    background-color: rgb(107, 106, 106);
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar > a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 5vh;
}
#navbar > a:hover{
    background-color: aqua;
}
#home{
    float: left;
    margin-left: 25px;
}
#home-icon{
    height: 100%;
}
#resume{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}
#projects{
    float: right;
}

/********** FEATURED PROJECTS *********/

#projects-jumplink-div{
    padding-top: 50px;
    margin-top: -50px;
}

.project-heading {
    margin: 1rem 3rem;
    font-size: 3rem;
    color: white;
}

.featured-section {
    margin: 0 3rem;
}

.featuredprojects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    list-style: none;
    margin-top: 2rem;
    padding: 0;
}

.featuredprojects__item {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: blue;
    height: 30rem;
}

@media screen and (max-width: 1027px) { /* row1: 2 items, row2: 1 item */
    .featuredprojects__item:last-child {
      grid-column: 1 / -1; /* Span across all columns */
    }

    .featuredprojects__item {
        height: 15rem;
    }
}

.allprojects-btn {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-bottom: 1rem;
    margin: 0 3rem;
}

    /********** RESUME *********/

.resume-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 10px;
    padding: 25px;
    word-break: break-word;
}

.resume{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
}

.resume.skills{
    background-color: pink;
}

/******************FOOTER***********************/
.footer-div{
    background-color: rgb(206, 0, 0);
}

.footer-links{
    overflow: hidden;
    /*background-color: rgb(206, 0, 0);*/
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links > a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5vh;

    display: flex;
    align-items: center;
}
.footer-links > a:hover{
    background-color: aqua;
}

.linkedin-a{
    margin-right: 20px;
}
.linkedin-svg{
    height: 100%;
    fill: white;
}
.github-a{
    overflow: visible;
    margin-left: 20px;
}
.github-svg{
    height: 100%;
}

.copyright > p{
    color: white;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 8px;
}