html, body {
    margin:0px;
    height:100%;
}

.content{
    padding-top: 20px;
}

/********** HERO *********/

.hero-title {
    margin: 0;
    padding: 0;
}

.hero-section {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    background-color: black;
    margin: 0;
    padding: 6rem 3rem 10rem 8rem;
    gap: 15%;
    
    overflow: hidden;
}

.hero-image {
    display: flex;
    background-color: grey;
    width: 300px;
    height: 300px;
}

.hero-text {
    padding-top: 2rem;
    color: blue;
}

@media (max-width: 800px) {
    .hero-section {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 0 0;
        height: 70vh;
    }

    .hero-text {
        padding-top: 1rem;
    }
}

/********** NAVBAR *********/

#navbar{
    overflow: hidden;
    background-color: rgb(107, 106, 106);
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar > a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 5vh;
}
#navbar > a:hover{
    background-color: aqua;
}
#home{
    float: left;
    margin-left: 25px;
}
#home-icon{
    height: 100%;
}
#resume{
    float: right;
}
#projects{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

/********** RESUME *********/

.resume-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 10px;
    padding: 25px;
    word-break: break-word;
}

.resume{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.resume.skills{
    background-color: grey;
}